<!DOCTYPE html>
<html lang="en" data-dark="false">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      {% include content.html content=content %}
    </main>
    <!-- 显示常用网站链接 -->
    <section class="useful-links">
      <h2>Commonly used website links</h2>
      <div class="link-container">
        {% for link in site.links %}
          <a href="{{ link[1] }}" class="link-item">{{ link[0] }}</a>
        {% endfor %}
      </div>
    </section>
    {% include footer.html %}
    <style>
      .useful-links {
        margin-top: 20px;
      }
      .link-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px; /* 链接之间的间距 */
      }
      .link-item {
        color: black;
        text-decoration: none;
      }
      .link-item:hover {
        text-decoration: underline; /* 鼠标悬停时显示下划线 */
      }
    </style>
  </body>
</html>